
<div>
    <p><a asp-action="AllUsers" asp-controller="User">Пользователи</a></p> 
    <p> <a asp-action="Index" asp-controller="Book">Книги</a></p>
    <p><a asp-action="Index" asp-controller="Author">Авторы</a></p>
    <p><a asp-action="Index" asp-controller="Genre">Жанры</a></p>
</div>