
<div>
    <a asp-action="AllUsers" asp-controller="User">Пользователи</a><br/>
    <a asp-action="Index" asp-controller="Book">Книги</a><br />
    <a asp-action="Index" asp-controller="Author">авторы</a><br />
</div>