@model Book
@{
    ViewBag.AutoCompliteId = "#authorSearch";
    ViewBag.AutoCompliteSource = "~/Book/SearchBook";

}
<div>
<form asp-action="EditBook" asp-controller="Book">
    <p>
        <label asp-for="Title">Название</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="Description">Описание</label><br />
        <textarea asp-for="Description"></textarea>
    </p>
   <p>
        <label asp-for="Genres">Жанры</label><br />
        <select asp-for="Genres" asp-items="@new MultiSelectList( (List<string>)ViewBag.Genres)"></select>
   </p>
   <p>
        <input type="submit" value="Изменить" />
    </p>
</form>
</div>