@model Author
<div>
    <form asp-action="EditAuthor" asp-controller="Author" asp-route-id="@Model.Id">
        <p>
            <label asp-for="Name">Имя</label><br />
            <input type="text" asp-for="Name" />
        </p>
        <p>
            <label asp-for="Description">Описание</label><br />
            <textarea asp-for="Description"></textarea>
        </p>
        <p>
            <input type="submit" value="Изменить" />
        </p>
    </form>
</div>